<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>岗位招聘信息可视化大屏</title>
    <script src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/comon0.css">
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>


<div class="loading">
    <div class="loadbox"><img src="../static/images/loading.gif"> 页面加载中...</div>
</div>
<div class="head">
    <h1>岗位招聘信息可视化大屏(西安)</h1>
    <div class="time" id="showTime">2019/11/29 0:12:42</div>
    <script>
        var t = null;

        t = setTimeout(time, 1000);//開始运行
        function time() {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();//获取时
            var m = dt.getMinutes();//获取分
            var s = dt.getSeconds();//获取秒
            var t = null;
            document.getElementById("showTime").innerHTML = y + "/" + Appendzero(mt) + "/" + Appendzero(day) + " " + Appendzero(h) + ":" + Appendzero(m) + ":" + Appendzero(s) + "";

            function Appendzero(obj) {
                if (obj < 10) return "0" + "" + obj;
                else return obj;
            }

            t = setTimeout(time, 1000); //设定定时器，循环运行
        }

    </script>

</div>
<div class="mainbox">
    <ul class="clearfix">
        <li>
            <div class="boxall" style="height: calc(40% - .15rem)">
                <div class="alltitle">技术类型（前四位）</div>
                <div class="sycm">
                    <ul class="clearfix">
                        <!--              -->
                        <li>
                            <h2>1824</h2>
                            <span>华东地区</span></li>
                        <li>
                            <h2>1920</h2>
                            <span>华西地区</span></li>
                        <li>
                            <h2>19%</h2>
                            <span>华南地区</span></li>

                        <li>
                            <h2>1824</h2>
                            <span>华北地区</span></li>


                    </ul>
                </div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: calc(60% - .15rem)">
                <div class="alltitle">关键字

                    <select id="fruit-select">
                        <option  value="all"> all </option>
                        {% for i in classList %}
                            {% if urllib.parse.unquote(SearchKeyword)==i %}
                            <option  selected  value="{{ SearchKeyword }}">{{ urllib.parse.unquote(SearchKeyword) }}</option>
                            {% else %}
                            <option  value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}


                    </select>

                </div>

                <div class="sycm sycm2" id="sycm2">

                </div>
                <div class="boxfoot"></div>
            </div>

        </li>
        <li>
            <div style="position: relative">
                <div class="barnav">

                    <div class="bar">
                        <div class="barbox">
                            <ul class="clearfix">
                                <li class="pulll_left counter">{{ jobNums }}</li>
                                <li class="pulll_left counter">{{ toDayUpdate }}</li>
                                <li class="pulll_left counter">{{ statusTrueNums }}</li>
                            </ul>
                        </div>
                        <div class="barbox2">
                            <ul class="clearfix">
                                <li class="pulll_left">总岗位数</li>
                                <li class="pulll_left">今日新增</li>
                                <li class="pulll_left">看过</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mapbox">
                <div class="map">
                    <div class="map1"><img src="../static/images/lbx.png"></div>
                    <div class="map2"><img src="../static/images/jt.png"></div>
                    <div class="map3"><img src="../static/images/map.png"></div>
                    <div class="map4" id="map_1"></div>
                </div>
            </div>
        </li>
        <li>

            <div class="boxall" style="height: calc(50% - .15rem)">
                <div class="alltitle">字段名称
                    <div class="pulll_right">
                        <a><span></span>已维修</a>
                        <a><span></span>未维修</a>
                    </div>
                </div>

                <div class="boxnav" id="echart3"></div>

                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: calc(50% - .15rem)">
                <div class="alltitle">今日最新</div>
                <div class="wrap boxnav">
                    <ul>
                        {% for item in latestToday %}
                            <li><p><span onclick="clickLi({{ item.id }})"><a href="{{ item["jobUrl"] }}"
                                                                             target="_blank">{{ item["jobName"] }}</a></span><span><a
                                    href="{{ item["jobCorporationUrl"] }}"
                                    target="_blank">{{ item["jobCorporation"] }}</a></span><span>{{ setPayFormat(item["jobPay"]) }}(平均)</span>
                            </p></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="boxfoot"></div>
            </div>
        </li>
    </ul>
    <div class="copyright">数据仅供参考，无实际意义！</div>
</div>

<div class="mainbox2">
    <ul class="clearfix">
        <li>

            <div class="boxall" style="height: 100%">
                <div class="alltitle">模块标题
                    <div class="pulll_right">
                        <a href="."><span></span>已检点</a>
                        <a href="."><span></span>未检点</a>
                    </div>
                </div>
                <div class="boxnav">
                    <ul class="btbox">
                        <li id="bt01"></li>
                        <li id="bt02"></li>
                        <li id="bt03"></li>
                        <li id="bt04"></li>
                    </ul>
                </div>
                <div class="boxfoot"></div>
            </div>

        </li>
        <li>
            <div class="boxall" style="height:100%">
                <div class="alltitle">采集记录
                    <div class="pulll_right sebtn">
                        <!--			<a href="." class="active">近七天</a>-->

                    </div>
                </div>
                <div class="boxnav" id="echart4"></div>


                <div class="boxfoot"></div>
            </div>
        </li>

    </ul>
</div>
<script src="../static/js/axios.min.js"></script>

<script language="JavaScript" src="../static/js/js.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/xian.js"></script>
<script src="../static/js/jquery.liMarquee.js"></script>
<script>
    $(function () {
        $('.wrap,.adduser').liMarquee({
            direction: 'up',//身上滚动
            runshort: false,//内容不足时不滚动
            scrollamount: 20//速度
        });
    });
    new Vue({
        //    此处指向vue组件所要渲染的DOM标签 <div id="box"></div>   el:'#box'  用id属性标识 也可用class属性
        // 如果是class <div class="box"></div>   el:'.box'
        // 总之最外层div用class或id绑定js ，下面el对应body对外层div选择器名称，绑定之后才可以使用elementui中组件内容
        el: '#app',
        data() {
            return {}
        },
        methods: {}
    })

</script>
<meta http-equiv="refresh" content="50;">

<script type="text/javascript">

</script>
</body>
</html>
